.first_container {
	display: flex;
	margin-left: 20px;
}

.third_container {
	width: 180px;
	height: 560px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 20px;
}

.third_container div {
	background-color: #fbfbfb;
	border-radius: 5px;
	height: 125px;
	display: flex;
	justify-content: center;
}

.fourth_container {
	height: 226px;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.fourth_container div {
	border-radius: 5px;
	width: 230px;
	height: 225px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}

.a {
	background-color: blue;
	width: 700px;
	height: 320px;
}

.radar {
	background: #282d30;
}

.score {
	background: #fbfbfb;
}
