aside {
	display: flex;
	flex-direction: column;
	width: 89px;
	background-color: black;
	align-items: center;
	padding-top: 100px;
}

.icon {
	margin: 10px 20px;
	cursor: pointer;
	width: 54px;
}

.span {
	color: white;
	writing-mode: sideways-lr;
	font-size: 12px;
	line-height: 24px;
	margin: 58px 0;
}
