@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	font-family: "Roboto", sans-serif;
	font-weight: 500;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	max-width: 1024px;
	max-height: 780px;
}

#content {
	display: flex;
}

#detail {
	width: 100%;
}
